@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800);
@import url(//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900);
body {
	background:#fff;
	color:#727272;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	line-height:24px;
	min-width:1250px;
	position:relative;
}
#page-wrapper { overflow:hidden; }
h1 {
	color:#505050;
	font:400 50px/50px 'Quattrocento Sans', sans-serif;
	margin-bottom:34px;
}
h2 {
	text-align:center;
	color:#505050;
	font:400 40px/40px 'Quattrocento Sans', sans-serif;
	margin-bottom:40px;
}
h3, #block-tm-follow-user h2 {
	color:#505050;
	font:400 22px/26px 'Quattrocento Sans', sans-serif;
	margin-bottom:23px;
}
.profile h3, #block-tm-follow-user h2 {
	border-bottom:1px solid #ececec;
	overflow:hidden;
	padding-bottom:5px;
}
h4 {
	color:#505050;
	font:400 24px/32px 'Quattrocento Sans', sans-serif;
	margin-bottom:20px;
}
h5 {
	color:#505050;
	font:400 12px/24px 'Quattrocento Sans', sans-serif;
	margin-bottom:15px;
}
h6 {
	color:#505050;
	font:bold 12px/20px 'Open Sans', sans-serif;
	margin-bottom:0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:inherit;
	text-decoration:none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color:#f68497;
	text-decoration:none;
}
input[type="text"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="number"], input[type="month"], input[type="password"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], textarea, select {
	background:#fff;
	border:1px solid #ececec;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#727272 !important;
	font:14px 'Open Sans', sans-serif;
	max-width:100%;
	padding:5px 10px 6px;
}
fieldset { border-color:#ececec; }
label { display:inline-block; }
#search-form .form-item { display:block; }
#user-login .form-text, #contact-site-form .form-text, .search-form .form-text { width:100%; }
#contact-site-form label { vertical-align:middle; }
a {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	color:#f68497;
	text-decoration:none;
}
a:hover { text-decoration:underline; }
.btn a, .more-link a, input[type="submit"], input[type="reset"], ul.links li a, .view-portfolio .views-field-view-node a, #block-poll-recent ul.links li a, #filters li a, .content ul.pager li a, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a, .form-submit {
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	background:#8e8e8e;
	border:none;
	border-radius:2px;
	box-shadow:none;
	color:#fff;
	display:inline-block;
	font:400 18px/24px 'Quattrocento Sans', sans-serif;
	outline:none;
	padding:11px 22px 11px;
	text-decoration:none;
	text-transform:lowercase;
}
.btn a:hover, .more-link a:hover, input[type="submit"]:hover, input[type="reset"]:hover, ul.links li a:hover, .view-portfolio .views-field-view-node a:hover, #block-poll-recent ul.links li a:hover, #filters li a:hover, #filters li a.selected, .content ul.pager li a:hover, .content ul.pager li.pager-current, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover, .form-submit:hover {
	background:#f68497;
	color:#fff;
	text-decoration:none;
}
.btn-2 a {
	background:#ff7189;
	border-radius:150px;
	width:106px;
	height:106px;
	line-height:106px;
	padding:0;
	text-align:center;
	color:#fff;
	font-weight:700;
	font-size:20px;
	text-transform:uppercase;
}
.btn-2 a:hover {
	background:#ffac63;
	color:#fff;
}
.btn-3 a { background:#ffac63; }
.btn-3 a:hover { background:#f68497; }
input[type="submit"], input[type="reset"] { padding:7px 20px; }
.more-link {
	padding-top:20px;
	text-align:left;
}
ul, .item-list ul, ul.menu { margin:0 0 24px; }
ul li, .item-list ul li, ul.menu li {
	background:url(../images/list-marker-1.png) 0 8px no-repeat;
	list-style:none;
	margin:10px 0 0;
	padding:0 0 0 27px;
}
ul li:first-child, .item-list ul li:first-child, ul.menu li:first-child { margin-top:0; }
ul li a, .item-list ul li a, ul.menu li a {
	color:inherit;
	text-decoration:none;
}
ul li a:hover, .item-list ul li a:hover, ul.menu li a:hover {
	color:#f68497;
	text-decoration:none;
}
ul li ul, .item-list ul li ul, ul.menu li ul { padding-top:10px; }
.list-2 li { background-image:url(../images/list-marker-2.png); }
.list-3 li { background-image:url(../images/list-marker-3.png); }
ul.tabs li, ul.flex-direction-nav li, ul.links li, ul#admin-menu-menu li, ul#admin-menu-account li, ul#admin-menu-icon li, ul.slides li, ul.contextual-links li, ul.tips li, ul.pager li, .messages.error ul li, .rate-widget ul li, ul.submitted-list li {
	background:none;
	border:none;
	font:inherit;
	margin-top:0;
	padding-left:0;
}
.messages.error ul li { list-style:disc; }
#admin-menu, #admin-menu .dropdown { z-index:10000; }
img {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:auto;
	max-width:100%;
	width:auto;
}
img.lazyloader-icon { width:auto !important; }
.frame, .field-type-image, .views-field-field-image, .views-field-field-blog-media, .view-portfolio .isotope-element .views-field-field-portfolio-image, .field-name-field-blog-media, .field-name-field-image, .field-name-field-portfolio-image, .field-name-field-service-image, .field-name-field-employee-photo, .field-name-field-banner-image, .field-name-field-slide-image {
	margin-bottom:20px;
	position:relative;
}
.field-name-field-banner-image { width:250px; }
.user-picture {
	background:none;
	float:left;
	margin-right:15px;
	max-width:45%;
	padding:0;
}
.profile .user-picture {
	float:right;
	margin:0 0 0 20px;
}
p { margin-bottom:24px; }
table { margin-bottom:0; }
table tr.odd, table tr.even { border:none; }
table tr.odd { background:transparent; }
table tr.even { background:#f0f0f0; }
table th {
	background:#f0f0f0;
	border:none;
	color:#f68497;
	font-size:14px;
	padding:5px;
}
table th a { color:inherit; }
table th a:hover {
	color:#f68497;
	text-decoration:none;
}
table td { padding:5px; }
.extra-wrap { overflow:hidden; }
.wrapper {
	overflow:hidden;
	position:relative;
	width:100%;
}
.clearfix { position:relative; }
.clearfix:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.fclear { clear:both; }
.separator {
	clear:both;
	height:40px;
}
.separator-top {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.separator-bottom {
	border-bottom:0;
	margin-bottom:50px;
	padding-bottom:0;
}
.align-left { text-align:left; }
.align-center { text-align:center; }
.align-right { text-align:right; }
.indent-one { padding-top:50px; }
.region-header-top, .region-user-menu, .region-menu, .region-search, .region-header, .region-header-bottom, .region-content-top, .region-content-one, .region-parallax-one, .region-parallax-two, .region-video, .region-content, .region-content-bottom, .region-footer-top, .region-footer {
	position:relative;
	z-index:1;
}
    .region-header-top:after, .region-user-menu:after, .region-menu:after, .region-search:after, .region-header:after, .region-header-bottom:after, .region-content-top:after, .region-content-one:after, .region-parallax-one:after, .region-parallax-two:after, .region-video:after, .region-content:after, .region-content-bottom:after, .region-footer-top:after, .region-footer:after {
        clear: both;
        content: '';
        display: block;
        overflow: hidden;
        width: 100%;
   
    }
.video-bg { background:url(../../images/ajax-loader.gif) center center no-repeat; }
.parallax-box { position:relative; }
.parallax-box .region {
	position:relative;
	z-index:9;
}
.parallax-bg {
	bottom:0;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	width:100%;
}
.parallax-bg-inner {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	max-width:none;
	position:relative;
}
.parallax_one_wrapper, .parallax_two_wrapper { color:#fff; }
.parallax_one_wrapper .region, .parallax_two_wrapper .region {
	padding:245px 0 135px;
	font-size:45px;
	line-height:50px;
	text-transform:uppercase;
}
.parallax_one_wrapper .region p, .parallax_two_wrapper .region p { margin-bottom:30px; }
.parallax_one_wrapper h2, .parallax_two_wrapper h2 {
	text-transform:uppercase;
	font:700 120px/120px 'Open Sans', sans-serif;
	margin-bottom:14px;
}
.parallax_one_wrapper h1, .parallax_one_wrapper h2, .parallax_one_wrapper h3, .parallax_one_wrapper h4, .parallax_one_wrapper h5, .parallax_one_wrapper h6, .parallax_two_wrapper h1, .parallax_two_wrapper h2, .parallax_two_wrapper h3, .parallax_two_wrapper h4, .parallax_two_wrapper h5, .parallax_two_wrapper h6 { color:#fff; }
.parallax_one_wrapper h1 a, .parallax_one_wrapper h2 a, .parallax_one_wrapper h3 a, .parallax_one_wrapper h4 a, .parallax_one_wrapper h5 a, .parallax_one_wrapper h6 a, .parallax_two_wrapper h1 a, .parallax_two_wrapper h2 a, .parallax_two_wrapper h3 a, .parallax_two_wrapper h4 a, .parallax_two_wrapper h5 a, .parallax_two_wrapper h6 a {
	color:inherit;
	text-decoration:none;
}
.parallax_one_wrapper h1 a:hover, .parallax_one_wrapper h2 a:hover, .parallax_one_wrapper h3 a:hover, .parallax_one_wrapper h4 a:hover, .parallax_one_wrapper h5 a:hover, .parallax_one_wrapper h6 a:hover, .parallax_two_wrapper h1 a:hover, .parallax_two_wrapper h2 a:hover, .parallax_two_wrapper h3 a:hover, .parallax_two_wrapper h4 a:hover, .parallax_two_wrapper h5 a:hover, .parallax_two_wrapper h6 a:hover {
	color:#f68497;
	text-decoration:none;
}
.video_wrapper .region { min-height:545px; }
.video_wrapper .region .block-content { display:none; }
.content_one_wrapper { background:#f0f0f0; }
.content_one_wrapper .region { padding:65px 0 40px; }
::selection, ::-moz-selection {
	background:#f68497;
	color:#fff;
	text-shadow:none;
}
img::selection, img::-moz-selection { background:transparent; }
.region-header-top { margin-bottom:30px; }
#header {
	position:relative;
	width:100%;
}
.region-header {
	z-index:3;
	background:#fff;
	-webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.07);
	-moz-box-shadow:2px 2px 5px rgba(0,0,0,0.07);
	box-shadow:2px 2px 5px rgba(0,0,0,0.07);
}
.header-section-1 {
	position:relative;
	z-index:9999;
	text-align:center;
	padding:0 0 18px;
}
.header-section-2 .col1 {
	float:left;
	padding:42px 0 0;
}
.header-section-2 .col2 {
	float:right;
	padding:35px 0 0;
}
.header-section-2 .grid-12 {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	padding:0 30px 26px 67px;
}
.not-front .header-section-2 .grid-12 { box-shadow:2px 2px 5px rgba(0,0,0,0.06); }
.header-section-3 {
	padding:33px 0 0;
	background:#ebebeb url(/images/header-image.jpg) center top no-repeat;
}
.not-front .header-section-3 {
	padding-bottom:14px;
	background-position:center bottom;
}
.stickup {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	z-index:999;
}
.isStuck {
	left:0;
	right:0;
	top:0;
}
.isStuck .grid-12 { box-shadow:0px 2px 5px rgba(0,0,0,0.1); }
#logo {
	display:inline-block;
	color:#fff;
	position:relative;
	z-index:2;
}
.site-name {
	padding-top:9px;
	margin-bottom:0;
	font-size:63px;
	line-height:63px;
	color:#fff;
}
.site-name a:hover {
	color:#fff;
	text-decoration:none;
}
.slogan {
	color:#f2f2f2;
	padding-top:10px;
	font-size:14px;
	line-height:17px;
	text-transform:uppercase;
}
.select-menu { display:none !important; }
#superfish-1 {
	background:none;
	margin-bottom:0;
	padding:0;
	width:auto;
	z-index:101;
	position:relative;
}
#superfish-1:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
#superfish-1 > li {
	background:none;
	border:0;
	font:400 20px/22px 'Quattrocento Sans', sans-serif;
	margin:0 0 0 70px;
	overflow:inherit;
	padding:0;
	text-transform:uppercase;
	position:relative;
}
#superfish-1 > li:after {
	background:#ececec;
	display:inline-block;
	position:absolute;
	width:1px;
	height:31px;
	top:-7px;
	left:-35px;
	content:'';
}
#superfish-1 > li:first-child { margin-left:0; }
#superfish-1 > li:first-child:after { display:none; }
#superfish-1 > li > a {
	color:#505050;
	text-decoration:none;
}
#superfish-1 > li > a .sf-sub-indicator {
	background:none;
	display:none;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li > a:hover, #superfish-1 > li.active-trail > a, #superfish-1 > li.sfHover > a {
	color:#f68497;
	text-decoration:none;
}
#superfish-1 > li ul {
	background:#f68497;
	display:none;
	padding:15px 0 11px;
	top:51px;
	width:120px !important;
}
#superfish-1 > li ul li {
	background:none;
	border-bottom:0;
	float:none !important;
	font-size:12px;
	height:auto;
	padding:0 15px;
	width:auto !important;
}
#superfish-1 > li ul li > a:visited, #superfish-1 > li ul li > a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 > li ul li > a:visited .sf-sub-indicator, #superfish-1 > li ul li > a .sf-sub-indicator {
	background:none;
	display:inline-block;
	font:inherit;
	height:auto;
	margin-left:5px;
	overflow:visible;
	position:static;
	text-indent:0;
	width:auto;
}
#superfish-1 > li ul li > a:hover, #superfish-1 > li ul li.active-trail > a, #superfish-1 > li ul li.sfHover > a {
	color:#2b1915;
	text-decoration:none;
}
#superfish-1 > li ul li ul {
	left:101% !important;
	top:-15px;
}
#superfish-1 .sf-megamenu { width:auto !important; }
#superfish-1 .sf-megamenu > li > ol {
	vertical-align:top;
	white-space:nowrap;
}
#superfish-1 .sf-megamenu > li > ol > li {
	display:inline-block;
	margin:0 0 0 15px;
	padding:0;
	vertical-align:top;
	width:120px !important;
	white-space:normal;
}
#superfish-1 .sf-megamenu > li > ol > li:first-child { margin-left:0; }
#superfish-1 .sf-megamenu > li > ol > li a {
	color:#fff;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li a:hover, #superfish-1 .sf-megamenu > li > ol > li a.active, #superfish-1 .sf-megamenu > li > ol > li.active-trail > a, #superfish-1 .sf-megamenu > li > ol > li.sfHover > a {
	color:#2b1915;
	text-decoration:none;
}
#superfish-1 .sf-megamenu > li > ol > li ol { padding:10px 0 0; }
#superfish-1 .sf-megamenu > li > ol > li ol li {
	display:block;
	float:none !important;
	margin-left:0;
	padding:0;
}
.flex-viewport {
	-moz-transition:none;
	-o-transition:none;
	-webkit-transition:none;
	transition:none;
}
/*.flexslider {
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
	margin-bottom:0;
}
.flexslider img {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
}*/
.view-slider { padding:0 14px; }
.view-slider .slides li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	padding:0;
}
.view-slider .slides li img { width:100%; }
.view-slider .flex-control-nav {
	bottom:20px;
	font-size:0;
	line-height:0;
	z-index:20;
}
.view-slider .flex-control-nav li { margin:0 2px; }
.view-slider .flex-control-nav li a {
	width:8px;
	height:8px;
	background:#727272;
	box-shadow:none;
}
.view-slider .flex-control-nav li a:hover, .view-slider .flex-control-nav li a.flex-active { background:#ffac63; }
.view-slider .flex-control-thumbs li {
	-moz-user-select:none;
	-khtml-user-select:none;
	user-select:none;
	width:20%;
}
.view-slider .flex-direction-nav a:before { line-height:40px; }
.view-slider:hover .flex-next {
	opacity:1;
	right:0;
}
.view-slider:hover .flex-prev {
	opacity:1;
	left:0;
}
.view-slider .flex-caption {
	padding:46px 30px 59px;
	text-align:center;
	z-index:99;
	font-size:15px;
	line-height:16px;
	color:#a3a3a3;
	font-weight:300;
	font-family:'Roboto', sans-serif;
}
.view-slider .flex-caption h2 {
	text-transform:uppercase;
	font-size:48px;
	line-height:52px;
	margin-bottom:10px;
}
.view-slider .flex-caption h2 p { margin-bottom:0; }
.header_bottom_wrapper {
	position:relative;
	z-index:2;
	background:#eaeaea;
}
.header_bottom_wrapper .region { padding:80px 0 60px; }
.front .header_bottom_wrapper .region { padding-bottom:0; }
.content_top_wrapper .region { padding:70px 0 40px; }
.front .content_top_wrapper .region { padding:277px 0 135px; }
#main { padding:40px 0 40px; }
.region-content { padding:0; }
.views-row { margin-bottom:30px; }
.views-row.last, .views-row:last-child { margin-bottom:0; }
.panels-flexible-region-inside, .panels-flexible-column-inside {
	padding-left:0 !important;
	padding-right:0 !important;
	position:relative;
}
.panels-flexible-region-inside:after, .panels-flexible-column-inside:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
div.messages {
	margin-bottom:30px;
	padding-right:30px;
}
div.messages .dismiss {
	box-shadow:none;
	border-radius:2px;
	font-family:'Open Sans', sans-serif;
	line-height:normal;
	padding:2px 6px 4px;
	text-transform:lowercase;
	width:auto;
}
div.messages .dismiss:hover {
	color:#fff;
	text-shadow:none;
}
#breadcrumb {
	color:#727272;
	margin-bottom:30px;
	padding:0;
}
#breadcrumb a {
	color:inherit;
	padding:0 3px;
	text-decoration:none;
}
#breadcrumb a:first-child { padding-left:0; }
#breadcrumb a:last-child { padding-right:0; }
#breadcrumb a:hover { color:#f68497; }
.tabs-wrapper { margin:1px 0 20px; }
.tabs { overflow:hidden; }
.tabs ul.primary {
	border:0;
	border-bottom:1px solid #ececec;
	margin:0 0 20px;
	overflow:hidden;
	padding:4px 0 0;
}
.tabs ul.primary li {
	display:block;
	float:left;
	margin-left:2px;
}
.tabs ul.primary li:first-child { margin-left:0; }
.tabs ul.primary li a {
	background:#fff;
	border:1px solid #ececec;
	border-bottom:0;
	border-radius:3px 3px 0 0;
	color:#727272;
	display:block;
	font-size:12px;
	font-weight:normal;
	margin:0;
	overflow:hidden;
	padding:5px 15px;
	text-shadow:none;
	-moz-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
	transition:all 0.1s linear;
}
.tabs ul.primary li.active a, .tabs ul.primary li a:hover {
	background:#f68497;
	border-color:#f5768b;
	color:#fff;
	text-decoration:none;
}
.portfolio-filters { margin-bottom:40px; }
.tm-masonry-filter {
	margin:0;
	padding:0;
	text-align:center;
}
.tm-masonry-filter li {
	background:none;
	display:inline-block;
	padding:0;
}
.tm-masonry-filter li:before {
	background-color:#f68497;
	bottom:3px;
	content:"";
	display:inline-block;
	height:5px;
	margin:0 10px;
	position:relative;
	width:5px;
}
.tm-masonry-filter li:first-child:before { display:none; }
.tm-masonry-filter li a {
	color:#727272;
	text-decoration:none;
}
.tm-masonry-filter li a.active, .tm-masonry-filter li a:hover { color:#f68497; }
.tm-masonry-item { position:relative; }
.tm-masonry-item .field-type-image {
	float:none !important;
	max-width:100% !important;
	text-align:center;
	width:100% !important;
}
.tm-masonry-item .node-header {
	left:0;
	position:absolute;
	right:0;
	text-align:center;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-title {
	font-weight:400;
	margin:0;
	position:relative;
}
.tm-masonry-item a.colorbox {
	background:#fff;
	text-align:center;
}
.tm-masonry-item a.colorbox:after {
	background:none;
	color:#000;
	content:"\f00e";
	font:30px/30px FontAwesome;
	left:51%;
	margin:-15px 0 0 0;
	position:absolute;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item a.colorbox:hover img { opacity:0.5; }
.tm-masonry-item .node-footer {
	margin:-15px 0 0 0;
	padding:0;
	position:absolute;
	right:51%;
	top:-100%;
	z-index:999;
	-moz-transition:0.6s ease;
	-o-transition:0.6s ease;
	-webkit-transition:0.6s ease;
	transition:0.6s ease;
}
.tm-masonry-item .node-footer .node-readmore a {
	background:none;
	color:transparent;
	font-size:0;
	line-height:0;
	padding:0;
}
.tm-masonry-item .node-footer .node-readmore a:after {
	color:#000;
	content:"\f0c1";
	font:30px/30px FontAwesome;
}
.tm-masonry-item:hover .node-footer, .tm-masonry-item:hover a.colorbox:after { top:40%; }
.tm-masonry-item:hover .node-header { top:60%; }
.block-views-our-team-block-1 .views-row {
	box-sizing:border-box;
	background:#fff;
	padding:14px 14px 30px;
	box-shadow:2px 2px 5px rgba(0,0,0,0.06);
}
.block-views-our-team-block-1 .views-field-field-employee-photo { margin-bottom:30px; }
.view-advantages .views-row { text-align:center; }
.view-advantages .views-row h4 a { color:#ffac63; }
.view-advantages .views-row h4 a:hover { color:#505050; }
.view-advantages .views-row.alpha h4 a { color:#f68497; }
.view-advantages .views-row.alpha h4 a:hover { color:#505050; }
.view-advantages .views-row.alpha .counter { background:#f68497; }
.view-advantages .views-row.omega h4 a { color:#efc55d; }
.view-advantages .views-row.omega h4 a:hover { color:#505050; }
.view-advantages .views-row.omega .counter { background:#efc55d; }
.view-advantages .counter {
	display:inline-block;
	text-align:center;
	width:85px;
	height:85px;
	border-radius:100px;
	line-height:85px;
	font-size:40px;
	color:#fff;
	font-family:'Quattrocento Sans', sans-serif;
	margin-bottom:20px;
	background:#ffac63;
}
.view-about .views-field-field-about-image {
	float:left;
	width:370px;
	max-width:35%;
	margin:0 30px 20px 0;
}
.block-block-9 .block-content {
	text-transform:uppercase;
	font-size:16px;
	line-height:24px;
}
.block-block-9 .block-content a {
	text-transform:none;
	color:#ffac63;
}
.block-block-9 .block-content a i { margin-right:5px; }
.block-block-9 .block-content a:hover {
	text-decoration:none;
	color:#f68497;
}
.region-user-menu { margin-top:-28px; }
.region-user-menu ul.menu {
	margin:0;
	text-align:right;
}
.region-user-menu ul.menu li {
	padding:0;
	margin:0 0 0 11px;
	background:none;
	display:inline-block;
	font-size:18px;
	line-height:22px;
	font-family:'Quattrocento Sans', sans-serif;
}
.region-user-menu ul.menu li a {
	border-radius:2px;
	display:block;
	color:#fff;
	padding:10px 24px 12px;
	background:#ffac63;
}
.region-user-menu ul.menu li a:hover { background:#da727d; }
.block-views-information-block h2 {
	text-align:left;
	margin-bottom:55px;
}
.block-views-information-block .btn { padding-top:16px; }
.block-block-10 .block-content {
	padding:0 200px;
	position:relative;
}
.block-block-10 .block-content:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.block-block-10 .counter {
	box-sizing:border-box;
	float:left;
	width:22%;
	margin-left:3.8%;
	padding:0 7px;
	text-align:center;
}
.block-block-10 .counter:first-child { margin-left:0; }
.block-block-10 .counter .num {
	display:inline-block;
	width:157px;
	height:157px;
	font-weight:500;
	font-size:24px;
	text-align:center;
	color:#fff;
	line-height:157px;
	background:#000;
	border-radius:200px;
	margin-bottom:27px;
}
.block-block-10 .counter .title {
	font-weight:400;
	font-size:24px;
	line-height:26px;
	font-family:'Quattrocento Sans', sans-serif;
}
.block-block-10 .counter.color-1 .title { color:#f68497; }
.block-block-10 .counter.color-1 .num { background:#f68497; }
.block-block-10 .counter.color-2 .title { color:#ffac63; }
.block-block-10 .counter.color-2 .num { background:#ffac63; }
.block-block-10 .counter.color-3 .title { color:#efc55d; }
.block-block-10 .counter.color-3 .num { background:#efc55d; }
.block-block-10 .counter.color-4 .title { color:#86c3d1; }
.block-block-10 .counter.color-4 .num { background:#86c3d1; }
.view-welcome .view-header {
	text-align:center;
	margin-bottom:69px;
	font-size:18px;
	line-height:32px;
	font-weight:300;
}
.view-welcome .view-header p { margin-bottom:0; }
.view-welcome .views-row {
	position:relative;
	z-index:1;
	box-sizing:border-box;
	background:#fff;
	padding:14px 14px 39px 14px;
	box-shadow:2px 2px 5px rgba(0,0,0,0.06);
	margin-bottom:-150px !important;
}
.view-welcome .welcome-body { padding:0 25px 0 10px; }
.view-welcome .views-field-field-image { margin-bottom:35px; }
.view-welcome h4 { margin-bottom:22px; }
.view-welcome .btn a { padding:9px 25px 10px; }
.content_bottom_wrapper .region { padding:30px 0; }
#isotope-container {
	margin-left:-15px;
	margin-right:-15px;
}
.isotope-element {
	background:none;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:inherit;
	margin:0 15px 30px;
	height:auto;
	overflow:visible;
	padding:0;
	position:relative;
	width:auto;
}
.isotope-element .views-field-field-portfolio-image {
	background:url(../../images/ajax-loader.gif) center center no-repeat #fff;
	margin-bottom:25px;
}
.isotope-element .views-field-body { margin-bottom:25px; }
.isotope-element .views-field-field-portfolio-image a {
	background:#000;
	display:block;
	overflow:hidden;
	position:relative;
	text-decoration:none;
}
.isotope-element .views-field-field-portfolio-image a:after {
	background:none;
	color:#fff;
	content:"\f00e";
	font:40px/40px FontAwesome;
	left:50%;
	margin:-20px 0 0 -20px;
	position:absolute;
	top:-100%;
	z-index:999;
}
.isotope-element .views-field-field-portfolio-image a:hover img {
	opacity:.4;
	-ms-transform:scale(1.3);
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
.isotope-element .views-field-field-portfolio-image a:hover:after { top:50%; }
.isotope-element .views-field-field-portfolio-image img {
	-moz-transition:.2s ease;
	-o-transition:.2s ease;
	-webkit-transition:.2s ease;
	transition:.2s ease;
	width:100%;
}
#isotope-options { background:none; }
#isotope-options #filters {
	margin-bottom:20px;
	text-align:right;
}
#isotope-options #filters li {
	display:inline-block;
	margin-left:10px;
	margin-bottom:10px;
	padding:0;
	background:none;
}
.field-name-field-portfolio-category ul {
	float:left;
	overflow:hidden;
}
.field-name-field-portfolio-category ul:before {
	content:"\f02e";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.page-blog .content-header ul { margin-bottom:0; }
.page-blog .content-header ul li {
	background:none;
	padding:0;
}
.node {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.node:first-child {
	background:none;
	border-top:0;
	margin-top:0;
	padding-top:0;
}
.node-header { margin-bottom:20px; }
.node-submitted { margin:0; }
.node-submitted .fa {
	color:#f68497;
	margin-right:5px;
}
.node-submitted ul { margin:0; }
.node-submitted ul li {
	background:none;
	float:left;
	margin:0 0 0 10px;
	padding:0;
}
.node-submitted ul li:first-child { margin-left:0; }
.node-submitted ul li a { color:inherit; }
.node-submitted ul li a:hover {
	color:#f68497;
	text-decoration:none;
}
.node-teaser .field-type-file, .node-teaser .field-type-image, .node-employee .field-type-image { margin:0 0 20px 5px 0; }
.media-vimeo-video { padding-bottom:50.2%; }
.node-teaser .media-vimeo-video { padding-bottom:63.2%; }
.media-youtube-video { padding-bottom:50.2%; }
.node-teaser .media-youtube-video { padding-bottom:63.2%; }
.media-vimeo-video, .media-youtube-video {
	height:0;
	overflow:hidden;
	padding-top:30px;
	position:relative;
}
.media-vimeo-video iframe, .media-youtube-video iframe {
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.node-teaser  p:last-child { margin-bottom:0; }
.links { list-style:none; }
.links li {
	display:inline-block !important;
	margin-bottom:5px;
	margin-right:5px;
}
.content ul.pager {
	margin-top:30px;
	text-align:left;
}
.content ul.pager li {
	margin:0px 1px 5px;
	padding:0;
	display:inline-block;
}
.node-footer { padding-top:30px; }
.node-footer .field-name-field-tags { padding-top:20px; }
.node-footer .field-name-field-tags .field-label {
	background:none;
	float:left;
	font:inherit;
	font-weight:bold;
	margin-right:15px;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.node-footer .field-name-field-tags .field-items {
	overflow:hidden;
	padding-bottom:15px;
	width:100%;
}
.node-footer .field-name-field-tags ul li {
	float:left;
	margin:0 0 5px 10px;
}
.node-footer .field-name-field-tags ul li:first-child { margin-left:0; }
.node-footer .field-name-field-tags ul li a {
	font:inherit;
	font-weight:bold;
	padding:2px 8px;
}
.field-name-field-blog-tags ul {
	float:left;
	overflow:hidden;
}
.field-name-field-blog-tags ul:before {
	content:"\f02c";
	display:block;
	float:left;
	font-family:fontAwesome;
	margin-right:4px;
}
.addthis_button_compact { margin:0; }
.likebtn_container { padding-top:4px; }
#comments {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comments .indented { margin-left:20px; }
.comment {
	background:transparent;
	border:1px solid #ececec;
	margin-bottom:10px;
	padding:25px;
}
.comment .comment-submitted { margin:0 0 5px; }
.comment .comment-content { margin-bottom:20px; }
.comment .comment-footer { padding:0; }
#comment-form-wrapper {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
#comment-form .form-item {
	margin:0 0 15px;
	overflow:hidden;
	width:100%;
}
#comment-form label { vertical-align:middle; }
#comment-form .form-type-item label {
	float:left;
	padding-right:10px;
}
#comment-form .form-text { width:100%; }
#comment-form .form-textarea {
	height:200px;
	width:100%;
}
#comment-form .filter-wrapper {
	border:none;
	padding:0;
}
#comment-form .filter-wrapper .fieldset-wrapper > * { padding:0; }
#comment-form .filter-wrapper .filter-help { padding-top:15px; }
#comment-form .filter-wrapper .filter-help a {
	background:none;
	display:inline-block;
	padding:0;
}
#comment-form .filter-wrapper .form-item { width:auto; }
#comment-form .filter-wrapper label {
	display:inline-block;
	margin-right:15px;
}
#comment-form .form-actions {
	margin:0;
	padding-top:20px;
}
#comment-form .form-actions #edit-submit { margin-right:5px; }
#edit-comment-body-und-0-format-guidelines { clear:both; }
#edit-comment-body-und-0-format-guidelines ul { font:inherit; }
#edit-comment-body-und-0-format-guidelines ul li {
	background:none;
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
}
.panels-flexible-region-11-contacts, .panels-flexible-region-11-center {
	float:none;
	width:100% !important;
}
.contact-form .form-item {
	margin-top:0 !important;
	position:relative;
}
.contact-form input[type="text"], .contact-form textarea {
	position:relative;
	z-index:20;
}
.contact-form input[type="text"].error, .contact-form textarea.error {
	border-color:#f8b9b7 !important;
	border-width:1px;
	box-shadow:0 0 8px #f8b9b7 !important;
}
.contact-form textarea { min-height:145px; }
.contact-form .form-type-textfield {
	float:left;
	margin-bottom:30px !important;
	margin-left:5%;
	width:30%;
}
.contact-form .form-type-textfield:first-child { margin-left:0; }
.contact-form .form-type-textarea { clear:both; }
.contact-form div.error-message {
	background:#ec7b7b;
	bottom:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:13px;
	font-weight:normal;
	left:0;
	line-height:16px;
	margin:0 0 5px;
	max-width:100%;
	opacity:0;
	padding:3px 5px;
	position:absolute;
	-moz-transition:.4s ease;
	-o-transition:.4s ease;
	-webkit-transition:.4s ease;
	transition:.4s ease;
	z-index:-999;
}
.contact-form div.error-message:after {
	content:'';
	position:absolute;
	left:10px;
	bottom:-5px;
	border-top:5px solid #ec7b7b;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
}
.contact-form .error ~ div.error-message {
	opacity:1;
	-webkit-animation-duration:.6s;
	animation-duration:.6s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn;
	z-index:999;
}
.contact-form input[type="reset"] { margin-right:10px; }
.contact-form .form-actions { display:inline-block; }
#contact-personal-form .form-type-textfield {
	float:none;
	margin-bottom:30px !important;
	margin-left:0;
	width:100%;
}
#contact-personal-form .form-type-textfield input[type="text"] { display:block; }
.action-links {
	overflow:hidden;
	padding:0 0 25px;
}
.action-links li {
	float:left;
	margin-left:10px;
}
.action-links li:first-child { margin-left:0; }
.action-links li a { font-weight:bold; }
#forum table td.topics, #forum table td.posts, #forum table td.replies { text-align:center; }
#forum table td.container { font-weight:bold; }
#forum table .description { margin:0; }
#forum table .indent { margin:0; }
#forum table .name { overflow:hidden; }
#forum table .description { clear:both; }
.field-name-taxonomy-forums, .field-type-taxonomy-term-reference {
	overflow:hidden;
	padding-top:20px;
	width:100%;
}
.field-name-taxonomy-forums.field-label-above, .field-type-taxonomy-term-reference.field-label-above { padding-top:0; }
.field-name-taxonomy-forums .field-label, .field-type-taxonomy-term-reference .field-label {
	background:none;
	font:inherit;
	font-weight:bold;
	margin:0;
	text-shadow:none;
	text-transform:uppercase;
}
.field-name-taxonomy-forums ul.links, .field-type-taxonomy-term-reference ul.links { margin-bottom:0; }
.field-name-taxonomy-forums ul.links li, .field-type-taxonomy-term-reference ul.links li {
	float:left;
	margin:0 0 5px;
}
.field-name-taxonomy-forums ul.links li:before, .field-type-taxonomy-term-reference ul.links li:before { content:', '; }
.field-name-taxonomy-forums ul.links li:first-child, .field-type-taxonomy-term-reference ul.links li:first-child { margin-left:0; }
.field-name-taxonomy-forums ul.links li:first-child:before, .field-type-taxonomy-term-reference ul.links li:first-child:before { content:''; }
.field-name-taxonomy-forums ul.links li a, .field-type-taxonomy-term-reference ul.links li a {
	background:none;
	border:none;
	box-shadow:none;
	color:#f68497;
	display:inline;
	font:inherit;
	padding:0;
	text-shadow:none;
	text-transform:none;
}
.field-name-taxonomy-forums ul.links li a:hover, .field-type-taxonomy-term-reference ul.links li a:hover {
	background:none;
	text-decoration:underline;
}
.page-forum- #main-wrapper .active img {
	padding:0;
	background:0;
	border:none;
	margin-left:5px;
	margin-top:4px;
}
.page-page-404 .panel-col-first {
	color:#f68497;
	font:bold 250px/200px 'Open Sans', sans-serif;
	text-align:center;
}
.panel-2col .panel-col-first .inside { margin:0 20px 0 0; }
.panel-2col .panel-2col .panel-col-last .inside { margin:0 0 0 20px; }
.page-testimonials .view-display-id-page .views-row { margin-top:30px; }
.page-testimonials .view-display-id-page .views-row:first-child { margin-top:0; }
.page-testimonials .view-display-id-page .views-field-field-testi-image {
	float:left;
	margin:0 20px 0 0;
	max-width:45%;
	width:80px;
}
.page-testimonials .view-display-id-page .views-field-nothing { margin-bottom:10px; }
.page-testimonials .view-display-id-page .views-field-nothing p { margin-bottom:0; }
.page-testimonials .view-display-id-page .views-field-nothing a { color:inherit; }
.page-testimonials .view-display-id-page .views-field-nothing a:hover {
	color:#f68497;
	text-decoration:none;
}
.page-testimonials .view-display-id-page .views-field-field-testi-author, .page-testimonials .view-display-id-page .views-field-field-testi-author-info { text-align:right; }
.field-name-field-testi-image {
	float:left;
	margin:0 20px 0 0;
	max-width:45%;
}
.field-name-field-testi-author { font-weight:bold; }
.view-archive .field-name-body { margin-bottom:20px; }
.view-archive .views-row { margin-top:40px; }
.view-archive .views-row:first-child { margin-top:0; }
.view-archive .field-name-taxonomy-forums { padding-top:0; }
.view-FAQs.view-id-FAQs .views-row { margin-top:30px; }
.view-FAQs.view-id-FAQs .views-row:first-child { margin-top:0; }
.compose-tips .filter-type { margin-top:40px; }
.compose-tips .filter-type:first-child { margin-top:0; }
.view-comments-recent.view-display-id-page .views-row { margin-top:30px; }
.view-comments-recent.view-display-id-page .views-row:first-child { margin-top:0; }
.field-name-field-employee-position {
	color:#f68497;
	font-size:15px;
	line-height:20px;
	margin-bottom:5px;
}
.field-name-field-employee-facebook { margin-left:0; }
.field-name-field-employee-facebook, .field-name-field-employee-twitter, .field-name-field-employee-google-plus {
	display:inline-block;
	margin-right:5px;
}
.employee-social-link {
	border:1px solid #f68497;
	border-radius:50%;
	color:transparent;
	display:block;
	font-size:0;
	height:28px;
	line-height:0;
	text-align:center;
	text-decoration:none;
	width:28px;
}
.employee-social-link:before {
	color:#f68497;
	font-size:16px;
	line-height:28px;
}
.employee-social-link:hover { border-color:#727272; }
.employee-social-link:hover:before { color:#727272; }
.node-type-employee .field-name-body { padding-top:20px; }
.sidebar { position:relative; }
.sidebar .block {
	border-top:0;
	clear:both;
	margin-top:50px;
	padding-top:0;
}
.sidebar .block:first-child {
	border-top:0 !important;
	margin-top:0 !important;
	padding-top:0 !important;
}
.field-label-inline .field-label, .field-label-inline .field-items { max-width:100%; }
.not-logged-in .contextual-links { display:none !important; }
.contextual-links li {
	color:#727272 !important;
	font-size:14px !important;
	line-height:24px !important;
}
.calendar-calendar table, .calendar-calendar table td, .calendar-calendar table th, .calendar-calendar .month-view .full th.days { border:1px solid #ececec; }
.calendar-calendar td.calendar-agenda-items, .calendar-calendar .month-view .full td.single-day .calendar-empty, .calendar-calendar .month-view .full td.single-day.empty, .calendar-calendar .month-view .full td.date-box.empty { border-color:#ececec; }
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
	background-color:transparent;
	color:#f68497;
	font-weight:bold;
}
.calendar-calendar th.days {
	background:#f0f0f0;
	border:none;
	color:#727272;
}
.calendar-calendar td { text-align:center; }
.calendar-calendar td .inner div, .calendar-calendar td .inner div a { background:none; }
.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview { background:#f0f0f0; }
.calendar-calendar .day-view .full td .inner div.calendar .views-field-created {
	color:#727272;
	float:left;
	width:50px;
}
.calendar-calendar .day-view .full td .inner div.calendar .views-field-title { overflow:hidden; }
.calendar-calendar .month-view .full tr td.single-day.today, .calendar-calendar .month-view .full td.date-box.today { border-color:#f68497; }
.view-Calendar .pager .date-prev, .view-Calendar .pager .date-next, .view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
	background:none;
	border-radius:0;
	line-height:0;
	padding:0;
	top:6px;
}
.view-Calendar .pager .date-prev a, .view-Calendar .pager .date-next a, .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
	background:#727272;
	color:transparent;
	display:block;
	font-size:0;
	height:22px;
	line-height:0;
	margin:0;
	padding:0;
	position:relative;
	text-align:center;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
	width:22px;
}
.view-Calendar .pager .date-prev a:before, .view-Calendar .pager .date-next a:before, .view .date-nav-wrapper .date-prev a:before, .view .date-nav-wrapper .date-next a:before {
	color:#fff;
	font-family:FontAwesome;
	font-size:12px;
	font-weight:normal;
	left:50%;
	line-height:22px;
	margin-left:-5px;
	margin-top:-11px;
	position:absolute;
	top:50%;
}
.view-Calendar .pager .date-prev a:hover, .view-Calendar .pager .date-next a:hover, .view .date-nav-wrapper .date-prev a:hover, .view .date-nav-wrapper .date-next a:hover { background:#f68497; }
.view .date-nav-wrapper .date-prev { right:auto; }
.view .date-nav-wrapper .date-prev a:before { content:"\f060"; }
.view .date-nav-wrapper .date-next a:before { content:"\f061"; }
table .mini-day-on a { text-decoration:none; }
table .mini-day-on a:hover { text-decoration:underline; }
.sidebar #isotope-options #filters { text-align:left; }
.sidebar #isotope-options #filters li { margin:0 10px 5px 0; }
.pannel-map { margin-bottom:30px !important; }
.gmap #gmap1 { height:480px; }
.gmap #gmap1 img { max-width:inherit; }
#block-views-our-team-block .views-row {
	margin-bottom:0;
	margin-top:20px;
	overflow:hidden;
}
#block-views-our-team-block .views-row.views-row.views-row-first { margin-top:0; }
#block-views-our-team-block .views-row .views-field-field-employee-photo {
	width:100px;
	float:left;
	margin-right:15px;
}
#block-views-our-team-block .views-row .views-field-body { margin-bottom:0; }
.poll .total, .poll .title { margin-bottom:15px; }
.poll .bar {
	background-color:#fff;
	border:1px solid #ececec;
	height:20px;
	margin-bottom:15px;
	padding:1px;
}
.poll .bar .foreground {
	background-color:#f68497;
	display:none;
	height:20px;
}
.poll .percent { float:right; }
.poll .vote-form {
	text-align:left;
	padding-bottom:15px;
}
.poll .vote-form .choices { width:100%; }
#block-poll-recent ul.links li {
	background:none;
	padding-left:0;
}
#block-views-comments-recent-block .views-row { margin-top:20px; }
#block-views-comments-recent-block .views-row:first-child { margin-top:0; }
#block-views-comments-recent-block .views-field-subject a { color:inherit; }
#block-views-comments-recent-block .views-field-subject a:hover {
	color:#f68497;
	text-decoration:none;
}
.contextual-links-region .node-title a { color:inherit; }
.contextual-links-region .node-title a:hover {
	color:#f68497;
	text-decoration:none;
}
#block-views-recent-posts-block .views-row { margin-top:20px; }
#block-views-recent-posts-block .views-row:first-child { margin-top:0; }
#block-views-recent-posts-block .views-field-body {
	clear:both;
	padding-top:10px;
}
#search-block-form .element-invisible, [id^="search-block-form"] .element-invisible { display:none !important; }
#search-block-form .container-inline, [id^="search-block-form"] .container-inline {
	border:none;
	border-bottom:1px solid #cacaca;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
	overflow:hidden;
	position:relative;
	width:265px;
}
#search-block-form .form-item-search-block-form, [id^="search-block-form"] .form-item-search-block-form {
	display:block;
	margin:0 40px 0 0;
}
#search-block-form input.form-text, [id^="search-block-form"] input.form-text {
	background:none;
	border:none;
	display:block;
	margin:0;
	width:100%;
}
#search-block-form [id^=edit-actions], [id^="search-block-form"] [id^=edit-actions] { z-index:1; }
#search-block-form [id^=edit-actions]:after, [id^="search-block-form"] [id^=edit-actions]:after {
	color:#444;
	content:"\f002";
	cursor:pointer;
	font:18px/30px FontAwesome;
	margin-top:-16px;
	position:absolute;
	right:0;
	text-align:center;
	top:50%;
	width:35px;
	z-index:1;
}
#search-block-form [id^=edit-actions]:hover:after, [id^="search-block-form"] [id^=edit-actions]:hover:after { color:#f68497; }
#search-block-form .form-submit, [id^="search-block-form"] .form-submit {
	background:none;
	border:none;
	border-radius:0;
	bottom:0;
	box-shadow:none;
	color:transparent;
	cursor:pointer;
	display:block;
	font-size:0;
	line-height:0;
	margin:0 !important;
	padding:0;
	position:absolute;
	right:0;
	top:0;
	width:35px;
	z-index:2;
}
.block-simple-subscription-subscribe input[type="text"] { width:100%; }
.progressbar {
	font-family:'Quattrocento Sans', sans-serif;
	position:relative;
}
.progressbar .progressbar-wrap {
	background:#ececec;
	overflow:hidden;
	z-index:1;
	margin-bottom:11px;
}
.progressbar .progressbar-percent {
	position:absolute;
	z-index:2;
	bottom:0;
	right:20px;
	line-height:38px;
	color:#fff;
	font-size:24px;
}
.progressbar .progressbar-title {
	text-transform:uppercase;
	font-size:18px;
	line-height:22px;
	color:#505050;
	width:100%;
	margin-bottom:11px;
}
.progressbar.color-1 .progressbar-background { background:#f68497; }
.progressbar.color-2 .progressbar-background { background:#ffac63; }
.progressbar.color-3 .progressbar-background { background:#efc55d; }
.progressbar.color-4 .progressbar-background { background:#86c3d1; }
.progressbar .progressbar-background {
	float:right;
	height:38px;
	background:#f68497;
}
.footer_top_wrapper .region { padding:30px 0; }
#footer {
	border-top:10px solid #57545c;
	clear:both;
	padding:0;
	position:relative;
}
.front #footer { border:none; }
.footer-wrapper { padding:85px 0 70px; }
.footer-wrapper h2 {
	font-size:30px;
	line-height:36px;
	text-align:left;
	margin-bottom:40px;
}
.region-footer { padding:0 0 30px; }
.footer-map { height:296px; }
.footer-menu .content ul {
	margin:0;
	overflow:hidden;
}
.footer-menu .content ul li {
	background:none;
	margin:0 0 5px;
	padding:0;
}
.footer-menu .content ul li a {
	color:inherit;
	text-decoration:none;
}
.footer-menu .content ul li a:hover, .footer-menu .content ul li a.active {
	color:#f68497;
	text-decoration:none;
}
.block-tm-follow-site { margin-bottom:50px; }
.tm-follow-links .tm-follow-link-wrapper {
	font-size:24px;
	line-height:24px;
	margin-left:25px;
}
.tm-follow-links .tm-follow-link-wrapper:first-child { margin-left:0; }
.tm-follow-links .tm-follow-link-wrapper a { color:#505050; }
.tm-follow-links .tm-follow-link-wrapper a:hover { color:#ffac63; }
.block-copyright {
	font-size:16px;
	line-height:20px;
	padding-top:75px;
	color:#000;
	text-transform:uppercase;
}
.block-copyright a { color:#000; }
.block-copyright a:hover {
	color:#f68497;
	text-decoration:none;
}
#backtotop {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	background:none;
	border-radius:50%;
	bottom:100px;
	box-shadow:0 0 0 4px #f68497;
	color:transparent;
	font-size:0;
	line-height:0;
	margin-right:0 !important;
	opacity:1 !important;
	padding:3px 0 7px;
	position:fixed;
	right:40px !important;
	text-align:center;
	text-decoration:none;
	width:70px;
	z-index:999;
}
#backtotop:before {
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	background:#f68497;
	border-radius:50%;
	content:'';
	height:100%;
	left:-2px;
	opacity:1;
	padding:2px;
	pointer-events:none;
	position:absolute;
	top:-2px;
	transition:transform 0.2s, opacity 0.3s;
	-moz-transition:-moz-transform 0.2s, opacity 0.3s;
	-webkit-transition:-webkit-transform 0.2s, opacity 0.3s;
	width:100%;
	z-index:-1;
}
#backtotop:after {
	-moz-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	color:#fff;
	content:"\f077";
	font:normal 40px/60px FontAwesome;
}
#backtotop:hover { box-shadow:0 0 0 4px #727272; }
#backtotop:hover:before {
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	transform:scale(1.3);
	opacity:0;
}
#backtotop:hover:after { color:#727272; }
.switcher {
	cursor:pointer;
	margin-top:10px;
	font-size:11px;
}
.switcher:hover { text-decoration:underline; }
.region-page-bottom pre { padding:0 !important; }
