.switcher { display:none; }
@media (max-width: 1250px) {
	body { min-width:320px; }
	.switcher { display:inline-block; }
	.header-section-2 .grid-12 { padding:0 30px 25px; }
	#superfish-1 > li {
		margin-left:40px;
		font-size:16px;
	}
	#superfish-1 > li:after { left:-20px; }
	.block-block-10 .block-content { padding:0; }
}
@media (max-width: 995px) {
	.page-page-404 .panel-col-first { font-size:160px; }
	.stickup {
		box-shadow:none !important;
		position:relative !important;
	}
	.pseudoStickyBlock {
		display:none !important;
		height:0 !important;
	}
	#backtotop { display:none !important; }
	.header-section-2 .col1, .header-section-2 .col2 { float:none; }
	#search-block-form .container-inline, [id^="search-block-form"] .container-inline { width:100%; }
	.region-user-menu {
		margin:0;
		padding:20px 0 0;
	}
	.view-slider .flex-caption h2 {
		font-size:35px;
		line-height:40px;
	}
	.view-welcome .welcome-body { padding:0; }
	.view-welcome .views-row { padding:5px 5px 20px; }
	.parallax_one_wrapper .region, .parallax_two_wrapper .region { padding:150px 0 100px; }
	.parallax_one_wrapper h2, .parallax_two_wrapper h2 { font:700 80px/80px 'Open Sans', sans-serif; }
	.video_wrapper .region { min-height:300px; }
	.footer-map { height:240px; }
}
@media (max-width: 767px) {
	#superfish-1 { display:none; }
	.select-menu {
		display:block !important;
		width:100%;
	}
	.comment-wrapper { overflow:visible; }
	.user-picture { margin-bottom:12px; }
	.views-field-field-portfolio-image { pointer-events:none; }
	.panel-2col .panel-col-first, .panel-2col .panel-col-last {
		float:none;
		width:100%;
	}
	.panel-2col .panel-col-first .inside, .panel-2col .panel-col-last .inside { margin:0; }
	.page-page-404 .panel-col-first {
		font-size:170px;
		line-height:170px;
		text-align:center;
	}
	.filter-help {
		float:none;
		margin-bottom:15px;
		padding-top:0;
	}
	.mobile-two-column .views-row {
		float:left !important;
		width:46% !important;
		margin-bottom:30px !important;
		margin-right:4% !important;
	}
	.mobile-two-column .views-row.even { margin-right:0 !important; }
	.mobile-two-column .views-row.odd { clear:left; }
	.contact-form .form-type-textfield {
		float:none;
		margin-left:0;
		width:100%;
	}
	.node-teaser .field-type-file, .node-teaser .field-type-image, .node-employee .field-type-image {
		float:none;
		margin:0 0 20px;
		max-width:100%;
	}
	#comments .indented { margin-left:0; }
	.block-block-10 .counter {
		width:50%;
		margin-left:0;
		margin-bottom:25px;
	}
	.front .content_top_wrapper .region { padding:70px 0 40px; }
	.parallax_one_wrapper .region, .parallax_two_wrapper .region {
		font-size:24px;
		line-height:30px;
		padding:100px 0 80px;
	}
	.parallax_one_wrapper h2, .parallax_two_wrapper h2 { font:700 40px/50px 'Open Sans', sans-serif; }
	.view-slider .flex-caption h2 {
		font-size:22px;
		line-height:30px;
	}
	.view-about .views-field-field-about-image {
		float:none;
		width:100%;
		max-width:none;
		margin:0 0 30px;
	}
}
@media (max-width: 479px) {
	#comments .comment .comment-wrapper { overflow:visible; }
	.page-tracker #main-wrapper .content { overflow-x:scroll; }
	.page-tracker #main-wrapper .content table.sticky-header { display:none !important; }
	.page-forum #forum { overflow-x:scroll; }
	.page-forum #forum td.forum .icon {
		float:none;
		margin:0 0 5px;
	}
	.field-name-field-testi-image {
		float:none;
		margin:0 0 20px;
		max-width:inherit;
	}
	.mobile-two-column .views-row {
		float:none;
		width:100% !important;
		margin-right:0 !important;
	}
	#isotope-options #filters li {
		display:block;
		margin:0 0 10px;
	}
	.node-submitted ul.submitted-list li {
		border-bottom:1px solid #ececec;
		float:none;
		margin:0;
		padding:3px 0;
	}
	.block-block-10 .counter {
		width:100%;
		margin-bottom:25px;
	}
	.site-name {
		font-size:40px;
		line-height:40px;
	}
}
