
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutWeb.cshtml";
}

@Html.Partial("~/Views/Default/Header.cshtml")
<div id="main-wrapper" class="main-wrapper" role="main">
    
    <div id="content_top_wrapper" class="content_top_wrapper">
        <div class="container-12">
            <div class="grid-12">
                <div class="region region-header-bottom">
                    <div id="block-views-welcome-block" class="block-views-welcome-block block block-views block-odd">



                        <div class="content block-content">
                            <div class="view view-welcome view-id-welcome view-display-id-block mobile-two-column view-dom-id-ab46dd87a2381031c0725c720ae72556">

                                <div class="view-content">

                                    <div class="grid-3 views-row first alpha odd">
                                        <div class="views-field views-field-field-image">
                                            <div class="field-content">
                                                <img src="~/img/mo-to-tren-cat.jpg?itok=IjmfHRX4" width="242" height="204" />
                                            </div>
                                        </div>
                                        <div class="views-field views-field-nothing welcome-body">
                                            <span class="field-content">
                                                <h4>Chạy mô tô trên cát</h4>
                                              
                                          Thuê một chiếc mô tô địa hình 4 bánh tại đây, chạy trên những đồi cát chụp hình ngắm cảnh không còn gì bằng. Cảm giác cưỡi mô tô trên cát rất đã và thú vị. Giá cho thuê là 350k/20 phút/chiếc 2 người,  450k/30 phút/chiếc 2 người.

                                            </span>
                                        </div>
                                    </div>
                                    <div class="grid-3 views-row even">
                                        <div class="views-field views-field-field-image">
                                            <div class="field-content">
                                                <img src="~/img/img-2.jpg?itok=IjmfHRX4" width="242" height="204" />
                                            </div>
                                        </div>
                                        <div class="views-field views-field-nothing welcome-body">
                                            <span class="field-content">
                                                <h4>Ferode Vertyasa</h4>
                                                <p>Ut tortor elit, ullamcorper non odio sollicitudin, fermentum tristique nunc. Curabitur eu est orci. In sodales, dui eget tempor

                                            </span>
                                        </div>
                                    </div>
                                    <div class="grid-3 views-row odd">
                                        <div class="views-field views-field-field-image">
                                            <div class="field-content">
                                                <img src="~/img/img-3.jpg?itok=9p0DpDR7" width="242" height="204" />
                                            </div>
                                        </div>
                                        <div class="views-field views-field-nothing welcome-body">
                                            <span class="field-content">
                                                <h4>Lertasa Certyas</h4>
                                                <p>Sed porttitor, urna et blandit porta, lorem magna commodo ante, et rutrum ipsum sapien non leo. Donec congue nisi nec quam aliquet

                                            </span>
                                        </div>
                                    </div>
                                    <div class="grid-3 views-row last omega even">
                                        <div class="views-field views-field-field-image">
                                            <div class="field-content">
                                                <img src="~/img/truot-cat.png" width="242" height="204" />
                                            </div>
                                        </div>
                                        <div class="views-field views-field-nothing welcome-body">
                                            <span class="field-content">
                                                <h4>Trượt cát</h4>
                                                Tuỳ hôm đông hay vắng khách, với giá từ 15.000 – 20.000 đồng, du khách có thể thuê một tấm nhựa mỏng của các em làm nghề trượt cát trên đồi và được hướng dẫn cấp tốc cách trượt đồi cát.

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="parallax_one_wrapper" class="parallax_one_wrapper img-bg parallax-box image-parallax-box">
        <div class="container-12">
            <div class="grid-12">
                <div class="region region-parallax-one">
                    <div id="block-block-11" class="block-block-11 block block-block align-center block-odd">

                        <h2 class="title block-title">Luxury travel</h2>

                        <div class="content block-content">
                            <p>just got a little bit cheaper</p>
                            <div class="btn btn-2"><a href="?q=portfolio">more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-bg" data-parallax-type="image" data-img-url="/img/parallax-one.jpg" data-speed="0.5" data-invert="false"></div>
    </div>

    <div class="container-12">
        <div class="grid-12">
            <div id="main" class="main clearfix">

                <div id="content" class="content content-main ">

                    <div class="region region-content">
                        <div id="block-system-main" class="block-system-main block block-system block-even">


                            <div class="content block-content">
                                <h2 class="title block-title">Thông tin về Bàu Trắng</h2>
                            </div>
                        </div>
                        <div id="block-views-information-block" class="block-views-information-block block block-views grid-5 suffix-1 alpha block-odd">

                      

                          
                            <script>
                                var map;
function initialize() {
  var mapProp = {
      center: new google.maps.LatLng(11.08219, 108.40098999999998),
    zoom:12,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
  var markers = new google.maps.Marker({
      map: map,
      draggable: true,
      animation: google.maps.Animation.DROP,
      position: { lat: 11.08219, lng: 108.40098999999998 }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
                            </script>
                            <div id="googleMap" style="width:500px;height:380px;"></div>
                        </div>
                        <div id="block-block-12" class="block-block-12 block block-block grid-6 omega indent-one block-even">


                            <div class="content block-content">
                                <div id="progressbar" class="progressbar color-1" data-percent="25">
                                    <div class="progressbar-title">Giám Đốc: <span style="font-size:20px;color:blue;font-weight:bold;">NGUYỄN VĂN HIỀN</span></div>
                                   
                                </div>
                                <div id="progressbar--2" class="progressbar color-2" data-percent="68">
                                    <div class="progressbar-title">Số đt:<span style="font-size:20px;color:blue;font-weight:bold;">  091.367.2396--091.891.0141</span></div>
                                   
                                </div>
                                @*<div id="progressbar--3" class="progressbar color-3" data-percent="30">
                                    <div class="progressbar-title">miasasas verro</div>
                                   
                                </div>
                                <div id="progressbar--4" class="progressbar color-4" data-percent="77">
                                    <div class="progressbar-title">certyuasa</div>
                                 
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div id="video_wrapper" class="video_wrapper video-bg">
        <a class="tm_video_bg" data-property="{videoURL:'http://youtu.be/0PVwJx5tv38', containment:'#video_wrapper',autoPlay:true, showControls:false, mute:true, startAt:0, opacity:1}">youtube</a><div class="container-12">
                                                                                                                                                                                                    </div>
    </div>*@
</div>
