
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayOutWeb.cshtml";
}

@Html.Partial("~/Views/Default/Header.cshtml")
<div id="main-wrapper" class="main-wrapper" role="main">
    
    <div id="content_top_wrapper" class="content_top_wrapper">
        <div class="container-12">
            <div class="grid-12">
                <div class="region region-content-top">
                    <div id="block-block-10" class="block-block-10 block block-block block-even">


                        <div class="content block-content">
                            <div id="tm-counter1431594777" class="counter color-1">
                                <div data-num="200" data-content="78954" class="num">78954</div>
                                <div class="title">clients served</div>
                            </div>
                            <div id="tm-counter1431594777--2" class="counter color-2">
                                <div data-num="200" data-content="99456" class="num">99456</div>
                                <div class="title">emails sent</div>
                            </div>
                            <div id="tm-counter1431594777--3" class="counter color-3">
                                <div data-num="200" data-content="55487" class="num">55487</div>
                                <div class="title">projects done</div>
                            </div>
                            <div id="tm-counter1431594777--4" class="counter color-4">
                                <div data-num="200" data-content="98047" class="num">98047</div>
                                <div class="title">cups of coffee</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="parallax_one_wrapper" class="parallax_one_wrapper img-bg parallax-box image-parallax-box">
        <div class="container-12">
            <div class="grid-12">
                <div class="region region-parallax-one">
                    <div id="block-block-11" class="block-block-11 block block-block align-center block-odd">

                        <h2 class="title block-title">Luxury travel</h2>

                        <div class="content block-content">
                            <p>just got a little bit cheaper</p>
                            <div class="btn btn-2"><a href="?q=portfolio">more</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-bg" data-parallax-type="image" data-img-url="/img/parallax-one.jpg" data-speed="0.5" data-invert="false"></div>
    </div>

    <div class="container-12">
        <div class="grid-12">
            <div id="main" class="main clearfix">

                <div id="content" class="content content-main ">

                    <div class="region region-content">
                        <div id="block-system-main" class="block-system-main block block-system block-even">


                            <div class="content block-content">
                            </div>
                        </div>
                        <div id="block-views-information-block" class="block-views-information-block block block-views grid-5 suffix-1 alpha block-odd">

                            <h2 class="title block-title">Useful Information</h2>

                            <div class="content block-content">
                                <div class="view view-information view-id-information view-display-id-block view-dom-id-b93f7cdba646d11c2464476e3c6d211f">
                                    <div class="view-content">
                                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                            <div class="views-field views-field-body">
                                                <div class="field-content">
                                                    <p>Onsuagnie dolores euiione. Beciegast nveriti vitaesse stae nitas tyaiaset aplicabrde ertyas niptagiades. Colernatur aut oditautptate mias msequs. Denesciunt, neque poroui vuiolorem ipsum quia dolor.</p>
                                                    <p>Ut tortor elit, ullamcorper non odio sollicitudin, fermentum tristique nunc. Curabitur eu est orci. In sodales, dui eget tempor consequat, felis elit varius metus, eu euismod leo dui sit amet felis. Phasellus dapibus leo enim, ultrices iaculis dolor ornare rhoncus. Phasellus rutrum egestas
                                                </div>
                                            </div>
                                            <div class="views-field views-field-view-node btn btn-3"> <span class="field-content"><a href="/drupal_53893/?q=node/124">read more</a></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="block-block-12" class="block-block-12 block block-block grid-6 omega indent-one block-even">


                            <div class="content block-content">
                                <div id="progressbar" class="progressbar color-1" data-percent="25">
                                    <div class="progressbar-title">feuytasas nuytas</div>
                                    <div class="progressbar-percent">25%</div>
                                    <div class="progressbar-wrap">
                                        <div class="progressbar-background" style="width: 0"></div>
                                    </div>
                                </div>
                                <div id="progressbar--2" class="progressbar color-2" data-percent="68">
                                    <div class="progressbar-title">doloertys iutasa lietyasa</div>
                                    <div class="progressbar-percent">68%</div>
                                    <div class="progressbar-wrap">
                                        <div class="progressbar-background" style="width: 0"></div>
                                    </div>
                                </div>
                                <div id="progressbar--3" class="progressbar color-3" data-percent="30">
                                    <div class="progressbar-title">miasasas verro</div>
                                    <div class="progressbar-percent">30%</div>
                                    <div class="progressbar-wrap">
                                        <div class="progressbar-background" style="width: 0"></div>
                                    </div>
                                </div>
                                <div id="progressbar--4" class="progressbar color-4" data-percent="77">
                                    <div class="progressbar-title">certyuasa</div>
                                    <div class="progressbar-percent">77%</div>
                                    <div class="progressbar-wrap">
                                        <div class="progressbar-background" style="width: 0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div id="video_wrapper" class="video_wrapper video-bg">
        <a class="tm_video_bg" data-property="{videoURL:'http://youtu.be/0PVwJx5tv38', containment:'#video_wrapper',autoPlay:true, showControls:false, mute:true, startAt:0, opacity:1}">youtube</a><div class="container-12">
                                                                                                                                                                                                    </div>
    </div>*@
</div>
