<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="utf-8" />

    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="Generator" content="Drupal 7 (http://drupal.org)" />
 

    <title>Chào mừng đến khu du lịch sinh thái BÀU TRẮNG </title>


    
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/boilerplate.css" rel="stylesheet" />
    <link href="~/css/cctags.css" rel="stylesheet" />
    <link href="~/css/colorbox.css" rel="stylesheet" />
    <link href="~/css/comment.css" rel="stylesheet" />
    <link href="~/css/ctools.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/date.css" rel="stylesheet" />
    <link href="~/css/dismiss.base.css" rel="stylesheet" />
    <link href="~/css/field.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/flexslider_img.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/forum.css" rel="stylesheet" />
    <link href="~/css/maintenance-page.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/node.css" rel="stylesheet" />
    <link href="~/css/panels.css" rel="stylesheet" />
    <link href="~/css/poll.css" rel="stylesheet" />
    <link href="~/css/search.css" rel="stylesheet" />
    <link href="~/css/shortcodes.css" rel="stylesheet" />
    <link href="~/css/skeleton.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/superfish.css" rel="stylesheet" />
    <link href="~/css/system.base.css" rel="stylesheet" />
    <link href="~/css/system.menus.css" rel="stylesheet" />
    <link href="~/css/system.messages.css" rel="stylesheet" />
    <link href="~/css/system.theme.css" rel="stylesheet" />
    <link href="~/css/tipsy.css" rel="stylesheet" />
    <link href="~/css/tm_follow.css" rel="stylesheet" />
    <link href="~/css/tm_lazyload.css" rel="stylesheet" />
    <link href="~/css/user.css" rel="stylesheet" />
    <link href="~/css/views.css" rel="stylesheet" />
    <link href="~/css/CusWeb.css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/jquery.min.js?v=1.8.2"></script>
    <script type="text/javascript" src="~/js/jquery.once.js?v=1.2"></script>
    <script type="text/javascript" src="~/js/drupal.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.tipsy.js?v=0.1.7"></script>
    <script type="text/javascript" src="~/js/tipsy.js?v=0.1.7"></script>
    <script type="text/javascript" src="~/js/jquery.easypiechart.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.appear.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/shortcodes.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.lazyloader.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.colorbox-min.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/colorbox.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/wow.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.flexslider-min.js?o3qqzv"></script>
  
    <script type="text/javascript" src="~/js/tm_block_bg_parallax.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.stellar.min.js?o3qqzv"></script>
    @*<script type="text/javascript" src="~/js/jquery.mb.YTPlayer.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/tm_block_bg_video.js?o3qqzv"></script>*@
    <script type="text/javascript" src="~/js/jquery.hoverIntent.minified.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/sftouchscreen.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/js1/superfish.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.easing.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/supersubs.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/superfish.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/theme988.core.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.loader.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.mobilemenu.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.debouncedresize.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.easing.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.ui.totop.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.cookie.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/tm-stick-up.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/tformer.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/device.min.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.mousewheel.min.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/jquery.simplr.smoothscroll.min.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/migrate.js?o3qqzv"></script>
    <script type="text/javascript" src="~/js/tm-parallax.js?o3qqzv"></script>
    <script type="text/javascript">

        jQuery.extend(Drupal.settings, { "basePath": "\/drupal_53893\/", "pathPrefix": "", "ajaxPageState": { "theme": "theme988", "theme_token": "ruw2i1uRGl1rpLXtVNoAf95DO6M6xx4QpJPkBTTicU0", "js": { "0": 1, "sites\/all\/modules\/flexslider\/assets\/js\/flexslider.load.js": 1, "sites\/all\/modules\/jquery_update\/replace\/jquery\/1.8\/jquery.min.js": 1, "misc\/jquery.once.js": 1, "misc\/drupal.js": 1, "sites\/all\/modules\/tipsy\/javascripts\/jquery.tipsy.js": 1, "sites\/all\/modules\/tipsy\/javascripts\/tipsy.js": 1, "sites\/all\/modules\/tm_shortcodes\/js\/jquery.easypiechart.js": 1, "sites\/all\/modules\/tm_shortcodes\/js\/jquery.appear.js": 1, "sites\/all\/modules\/tm_shortcodes\/js\/shortcodes.js": 1, "sites\/all\/modules\/tm_lazyload\/js\/jquery.lazyloader.js": 1, "sites\/all\/libraries\/colorbox\/jquery.colorbox-min.js": 1, "sites\/all\/modules\/colorbox\/js\/colorbox.js": 1, "sites\/all\/modules\/tm_animate\/js\/wow.js": 1, "sites\/all\/libraries\/flexslider\/jquery.flexslider-min.js": 1, "sites\/all\/modules\/olark\/olark.js": 1, "sites\/all\/modules\/tm_block_bg\/js\/tm_block_bg_parallax.js": 1, "sites\/all\/modules\/tm_block_bg\/js\/jquery.stellar.min.js": 1, "sites\/all\/modules\/tm_block_bg\/js\/jquery.mb.YTPlayer.js": 1, "sites\/all\/modules\/tm_block_bg\/js\/tm_block_bg_video.js": 1, "sites\/all\/libraries\/superfish\/jquery.hoverIntent.minified.js": 1, "sites\/all\/libraries\/superfish\/sftouchscreen.js": 1, "sites\/all\/libraries\/superfish\/superfish.js": 1, "sites\/all\/libraries\/easing\/jquery.easing.js": 1, "sites\/all\/libraries\/superfish\/supersubs.js": 1, "sites\/all\/modules\/superfish\/superfish.js": 1, "sites\/all\/themes\/theme988\/js\/theme988.core.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.loader.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.mobilemenu.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.debouncedresize.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.easing.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.ui.totop.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.cookie.js": 1, "sites\/all\/themes\/theme988\/js\/tm-stick-up.js": 1, "sites\/all\/themes\/theme988\/js\/tformer.js": 1, "sites\/all\/themes\/theme988\/js\/device.min.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.mousewheel.min.js": 1, "sites\/all\/themes\/theme988\/js\/jquery.simplr.smoothscroll.min.js": 1, "sites\/all\/themes\/theme988\/js\/migrate.js": 1, "sites\/all\/themes\/theme988\/js\/tm-parallax.js": 1 }, "css": { "modules\/system\/system.base.css": 1, "modules\/system\/system.menus.css": 1, "modules\/system\/system.messages.css": 1, "modules\/system\/system.theme.css": 1, "sites\/all\/modules\/tipsy\/stylesheets\/tipsy.css": 1, "modules\/comment\/comment.css": 1, "sites\/all\/modules\/date\/date_api\/date.css": 1, "modules\/field\/theme\/field.css": 1, "modules\/node\/node.css": 1, "modules\/poll\/poll.css": 1, "modules\/search\/search.css": 1, "sites\/all\/modules\/tm_shortcodes\/css\/shortcodes.css": 1, "modules\/user\/user.css": 1, "modules\/forum\/forum.css": 1, "sites\/all\/modules\/views\/css\/views.css": 1, "sites\/all\/modules\/tm_lazyload\/css\/tm_lazyload.css": 1, "sites\/all\/modules\/cctags\/cctags.css": 1, "sites\/all\/libraries\/colorbox\/example1\/colorbox.css": 1, "sites\/all\/modules\/ctools\/css\/ctools.css": 1, "sites\/all\/modules\/panels\/css\/panels.css": 1, "sites\/all\/modules\/tm_animate\/css\/animate.css": 1, "sites\/all\/modules\/tm_font_awesome\/css\/font-awesome.css": 1, "sites\/all\/modules\/flexslider\/assets\/css\/flexslider_img.css": 1, "sites\/all\/libraries\/flexslider\/flexslider.css": 1, "sites\/all\/modules\/dismiss\/css\/dismiss.base.css": 1, "sites\/all\/modules\/tm_follow\/css\/tm_follow.css": 1, "sites\/all\/libraries\/superfish\/css\/superfish.css": 1, "sites\/all\/themes\/theme988\/css\/boilerplate.css": 1, "sites\/all\/themes\/theme988\/css\/style.css": 1, "sites\/all\/themes\/theme988\/css\/maintenance-page.css": 1, "sites\/all\/themes\/theme988\/css\/skeleton.css": 1, "sites\/all\/themes\/theme988\/css\/custom.css": 1 } }, "colorbox": { "opacity": "0.85", "current": "{current} of {total}", "previous": "\u00ab Prev", "next": "Next \u00bb", "close": "Close", "maxWidth": "98%", "maxHeight": "98%", "fixed": true, "mobiledetect": true, "mobiledevicewidth": "960px" }, "tipsy": { "custom_selectors": [{ "selector": ".tipsy", "options": { "fade": 1, "gravity": "w", "trigger": "hover", "delayIn": "0", "delayOut": "0", "opacity": "0.8", "offset": "0", "html": 0, "tooltip_content": { "source": "attribute", "selector": "title" } } }] }, "flexslider": { "optionsets": { "default": { "namespace": "flex-", "selector": ".slides \u003E li", "easing": "swing", "direction": "horizontal", "reverse": false, "smoothHeight": false, "startAt": 0, "animationSpeed": 600, "initDelay": 0, "useCSS": true, "touch": true, "video": false, "keyboard": true, "multipleKeyboard": false, "mousewheel": 0, "controlsContainer": ".flex-control-nav-container", "sync": "", "asNavFor": "", "itemWidth": 0, "itemMargin": 0, "minItems": 0, "maxItems": 0, "move": 0, "animation": "fade", "slideshow": true, "slideshowSpeed": "7000", "directionNav": false, "controlNav": true, "prevText": "Previous", "nextText": "Next", "pausePlay": false, "pauseText": "Pause", "playText": "Play", "randomize": false, "thumbCaptions": false, "thumbCaptionsBoth": false, "animationLoop": true, "pauseOnAction": true, "pauseOnHover": false, "manualControls": "" } }, "instances": { "flexslider-1": "default" } }, "dismiss": { "fadeout": 0 }, "olark": { "disable_ios": 1, "enabled": 1 }, "superfish": { "1": { "id": "1", "sf": { "animation": { "opacity": "show", "height": ["show", "easeOutCubic"] }, "speed": "\u0027fast\u0027", "autoArrows": true, "dropShadows": false, "disableHI": false }, "plugins": { "touchscreen": { "mode": "useragent_custom", "useragent": "iphone|android|ipad" }, "supposition": false, "bgiframe": false, "supersubs": { "minWidth": "12", "maxWidth": "27", "extraWidth": 1 } } } } });

    </script>

    <link rel="stylesheet" href="~/css/style-mobile.css" media="screen" id="style-mobile">
    <link rel="stylesheet" href="~/css/skeleton-mobile.css" media="screen" id="skeleton-mobile">
   
</head>
<body id="body" class="html front not-logged-in no-sidebars page-node with-navigation with-subnav">
    <a href="#main-menu" class="element-invisible element-focusable">Skip to navigation</a>
    <a href="#content" class="element-invisible element-focusable">Skip to main content</a>
    <div id="page-wrapper" class="page-wrapper">
        <div id="page" class="page">
        
         
            @RenderBody()
            <footer id="footer" class="footer page-footer" role="contentinfo">

                <div class="footer-wrapper">
                    <div class="container-12">
                        <div class="grid-5">

                            <div class="region region-footer-one">
                                <div id="block-fb-likebox-0" class="block-fb-likebox-0 block block-fb-likebox block-even">

                                    <h2 class="title block-title">Follow Us On Facebook</h2>

                                    <div class="content block-content">
                                        <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/dulichbautrang&width=270&colorscheme=light&show_faces=true&bordercolor&stream=false&header=false&height=305&show_border=false&force_wall=false" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 270px; height: 305px;" allowtransparency="true" title="Like us on Facebook"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-4">

                            <div class="region region-footer-two">
                                <div id="block-tm-follow-site" class="block-tm-follow-site block block-tm-follow block-odd">


                                    <div class="content block-content">
                                        <div class='tm-follow-links clearfix site'>
                                            <span class='tm-follow-link-wrapper tm-follow-link-wrapper-this-site without-label'>
                                                <a href="/drupal_53893/?q=rss.xml" class="tm-follow-link tm-follow-link-this-site tm-follow-link-site"></a>
                                            </span><span class='tm-follow-link-wrapper tm-follow-link-wrapper-facebook without-label'>
                                                <a href="http://facebook.com/" class="tm-follow-link tm-follow-link-facebook tm-follow-link-site"></a>
                                            </span><span class='tm-follow-link-wrapper tm-follow-link-wrapper-googleplus without-label'>
                                                <a href="http://plus.google.com/" class="tm-follow-link tm-follow-link-googleplus tm-follow-link-site"></a>
                                            </span><span class='tm-follow-link-wrapper tm-follow-link-wrapper-linkedin without-label'>
                                                <a href="http://linkedin.com/" class="tm-follow-link tm-follow-link-linkedin tm-follow-link-site"></a>
                                            </span><span class='tm-follow-link-wrapper tm-follow-link-wrapper-pinterest without-label'>
                                                <a href="http://pinterest.com/" class="tm-follow-link tm-follow-link-pinterest tm-follow-link-site"></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div id="block-block-9" class="block-block-9 block block-block block-even">


                                    <div class="content block-content">
                                        <p>28 Jackson Blvd Ste 1020<br />Chicago<br />IL 60604-2340</p>
                                        <p>
                                            <a href="/cdn-cgi/l/email-protection#ec85828a83ac8889818380858287c2839e8b">
                                                <i class="fa fa-envelope"></i> <span class="__cf_email__" data-cfemail="f49d9a929bb49091999b989d9a9fda9b8693">[email&#160;protected]</span>
                                                <!--<script data-cfhash='f9e31' type="text/javascript"> /* <![CDATA[ */
                                            !function(t, e, r, n, c, a, p) {
                                                try {
                                                    t = document.currentScript || function() { for (t = document.getElementsByTagName('script'), e = t.length; e--;)if (t[e].getAttribute('data-cfhash'))return t[e]; }();
                                                    if (t && (c = t.previousSibling)) {
                                                        p = t.parentNode;
                                                        if (a = c.getAttribute('data-cfemail')) {
                                                            for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2)e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2);
                                                            p.replaceChild(document.createTextNode(decodeURIComponent(e)), c);
                                                        }
                                                        p.removeChild(t);
                                                    }
                                                } catch (u) {
                                                }
                                            }() /* ]]> */
                                        </script>-->
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-3">

                            <div class="region region-footer-three">
                                <div id="block-block-5" class="block-block-5 block block-block block-copyright block-odd">


                                    <div class="content block-content">
                                        <div>&copy; 2016 | <a href="?q=privacy-policy">Privacy Policy</a></div>
                                        <div class="switcher">Desktop Version Only</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </footer>
        </div>
    </div>
    <script type="text/javascript" src="~/js/flexslider.load.js?o3qqzv"></script>
</body>
</html>